<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Add Product</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
  </head>
  <body class="container" style="margin-top: 50px">
    <% if (messages.success) { %>
    <div class="alert alert-success" role="alert"><%- messages.success %></div>
    <% } %> <% if (messages.error) { %>
    <div class="alert alert-danger" role="alert"><%- messages.error %></div>
    <% } %>
    <h2 class="page-title">Add a Product</h2>
    <div class="card">
      <div class="card-header">Add product</div>
      <div class="card-body">
        <form action="/products/add" method="post">
          <div class="form-group">
            <label for="">Select Category</label>
            <select name="category" class="form-control">
              <% categories.forEach(function(cat) { %>
              <option value="<%= cat.categoryNmae %>">
                <%= cat.categoryNmae %>
              </option>
              <% }); %>
            </select>
          </div>
          <div class="form-group">
            <label>productName:</label>
            <input
              type="text"
              class="form-control"
              name="productName"
              value="<%= productName %>"
              autocomplete="off"
            />
          </div>
          <div class="form-group">
            <label>Price:</label>
            <input
              type="text"
              class="form-control"
              name="price"
              value="<%= price %>"
              autocomplete="off"
            />
          </div>
          <div class="form-group">
            <label>Quantity:</label>
            <input
              type="text"
              class="form-control"
              name="quantity"
              value="<%= quantity %>"
              autocomplete="off"
            />
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-info" value="Submit" />
            <a href="/products" class="btn btn-warning">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
