<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Edit Product</title>
    <h2 class="page-title">Edit a Product</h2>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
  </head>
  <body class="container" style="margin-top: 50px">
    <% if (messages.error) { %>
    <div class="alert alert-danger" role="alert"><%- messages.error %></div>
    <% } %>
    <div class="card">
      <div class="card-header">Edit Product</div>
      <div class="card-body">
        <form action="/products/update/<%= id %>" method="post">
          <div class="form-group">
            <label>categoryNmae:</label>
            <input
              type="text"
              class="form-control"
              name="categoryNmae"
              value="<%= categoryNmae %>"
              autocomplete="off"
            />
          </div>
          <div class="form-group">
            <label>productName:</label>
            <input
              type="text"
              class="form-control"
              name="productName"
              value="<%= productName %>"
              autocomplete="off"
            />
          </div>
          <div class="form-group">
            <label>price:</label>
            <input
              type="text"
              class="form-control"
              name="price"
              value="<%= price %>"
              autocomplete="off"
            />
          </div>
          <div class="form-group">
            <label>quantity:</label>
            <input
              type="text"
              class="form-control"
              name="quantity"
              value="<%= quantity %>"
              autocomplete="off"
            />
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-info" value="Update" />
            <a href="/products" class="btn btn-warning">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
