<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- <div class="form-group">
      <a href="/categories" class="btn btn-primary">Back</a>
    </div> -->
    <title>Add Category</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
  </head>
  <body class="container" style="margin-top: 50px">
    <% if (messages.error) { %>
    <div class="alert alert-danger" role="alert"><%- messages.error %></div>
    <% } %>
    <h2 class="page-title">Add a category</h2>
    <div class="card">
      <div class="card-header">Add category</div>
      <div class="card-body">
        <form action="/categories/add" method="post">
          <div class="form-group">
            <label>categoryNmae:</label>
            <input
              type="text"
              class="form-control"
              name="categoryNmae"
              value="<%= categoryNmae %>"
              autocomplete="off"
            />
          </div>
          <div class="form-group">
            <label>description:</label>
            <input
              type="text"
              class="form-control"
              name="description"
              value="<%= description %>"
              autocomplete="off"
            />
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-info" value="Submit" />
            <a href="/categories" class="btn btn-warning">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
