<div class="form-group">
  <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark"">
    <a class="navbar-brand" href="#">Welcome</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/products">Product</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Category</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
  </head>
  <body class="container" style="margin-top: 50px">
    <% if (messages.success) { %>
    <div class="alert alert-success" role="alert"><%- messages.success %></div>
    <% } %> <% if (messages.error) { %>
    <div class="alert alert-danger" role="alert"><%- messages.error %></div>
    <% } %>

    <div class="card">
      <div class="card-header">
        <ul class="nav nav-pills w-100">
          <li class="nav-pill active">
            <a class="nav-link">Category</a>
          </li>
          <li class="nav-pill ml-auto">
            <a class="nav-link active" href="/categories/add">Add a new Category</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <% if(data.length) { %>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">categoryId</th>
              <th scope="col">categoryNmae</th>
              <th scope="col">description</th>
              <th scope="col">createdAt</th>
              <th scope="col">updatedAt</th>
              <th width="200px">Action</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i = 0; i< data.length; i++) { %>
            <tr>
              <th scope="row"><%= (i+1) %></th>
              <td><%= data[i].publicId%></td>
              <td><%= data[i].categoryNmae%></td>
              <td><%= data[i].description%></td>
              <td><%= data[i].createdAt%></td>
              <td><%= data[i].updatedAt%></td>
              <td>
                <a
                  class="btn btn-success edit"
                  href="../categories/edit/<%=data[i].id%>"
                  >Edit</a
                >
                <a
                  class="btn btn-danger delete"
                  onclick="return alert('Are you sure want to delete this record?')"
                  href="../categories/delete/<%=data[i].id%>"
                  >Delete</a
                >
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
        <% } %>
        <!-- if result is empty -->
        <% if(!data.length) { %>
        <p class="text-center">No Category found!</p>
        <% } %>
      </div>
    </div>
  </body>
</html>
